/* Big table to 1200px (width smaller that the 1140px row) */
@media only screen and (max-width: 1200px) {
    .row {
        width: 100%;
        padding: 0 2%;
    }

    .grid-container {
        grid-template-columns: 1.5fr 1fr;
    }
}

/* Smaill table to big tablets: from 767px to 1023px */
@media only screen and (max-width: 1023px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    header {
        height: 102%;
        padding-bottom: 5px;
    }

    .logo-header h1 {
        margin-top: 0;
        padding: 15px 0;
        color: #fff;
        line-height: 0.8em;
        font-size: 50px;
    }

    .login-header table {
        float: left;
        width: 100%;
    }

    .login-header td {
        padding: 0 14px 0 0;
    }

    .login-header input[type=text],
    .login-header input[type=password] {
        width: 100%;
    }

    .login-header input[type="submit"] {
        cursor: pointer;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 15px;
    }

    .info-register {
        display: none;
    }

    footer {
        margin: 25px 0;
    }

    footer .lang a:link,
    footer .lang a:visited {
        padding-left: 8px;
        color: #385898;
        text-decoration: none;
    }

    footer .feature a:link,
    footer .feature a:visited {
        padding-right: 8px;
    }
}

/* Smaill phone to smaill tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    .grid-2-columns {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

/* Smaill phone from 0px to 480px */
@media only screen and (max-width: 480px) {}